@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

body{ 
    background-image: url("../src/background.png");
}

.menu{
    margin: 0 auto;
    width: 70%;
    background: linear-gradient(to right, rgba(110, 46, 170, 0.925) 0%, white 50%, rgba(110, 46, 170, 0.925) 100%);
    text-align: center;
    font-family: 'Lora', serif;
}

h2{
    color: black;
}

.button#exit_b {
    font-family: 'Lora', serif;
    width: 250px;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    transition-duration: 0.4s;
    border: none;
}

.button#exit_bhover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
    color: white;
}

.nav{
    padding-top: 12px;
}

.nav a{
    -webkit-transition: 0.4s ease; /* Safari and Chrome */
    -moz-transition: 0.4s ease; /* Firefox 4 */
    -o-transition: 0.4s ease; /* Opera */
    text-decoration: none;
    font-family: 'Lora', serif;
    background-color: #3498DB;
    color: white;
    font-size: 30px;
    border-radius: 10px;
} 

.nav a:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border: none;
}

.triange{
    border: 20px solid transparent;
    border-right: 20px solid #d4c8b1;
    margin-top: -40px;
}

.standardButton {
    font-family: 'Lora', serif;
    width: 250px;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    transition-duration: 0.4s;
    border: none;
}

.standardButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
    color: white;
}

.usr_pic{
    position: absolute;
    left: 1100px;
    top: 80px;
    border-radius: 50%;
}

.journal{
    position: absolute;
    margin: 0 auto;
    left: 16%;
    z-index: 0;
}

.main{
    position: absolute;
    left: 25%;
    top: 310px;
    z-index: 1;
}

.grp_list_class{
    position: absolute;
    left: 520px;
    top: 200px;
    font-family: 'Lora', serif;
    z-index: 2;
    border-radius: 10px;
    font-size: 30px;
}

.showButton {
    position: absolute;
    top: -60px;
    left: 13px;
    font-family: 'Lora', serif;
    width: 250px;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    transition-duration: 0.4s;
    border: none;
}

.showButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
    color: white;
}

.student_table{
    position: absolute;
    left: 500px;
}

.editButton {
    font-family: 'Lora', serif;
    position: absolute;
    left: 400px;
    top: 530px;
    width: 150px;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    border: none;
}

.editButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
    color: white;
}

.delButton
{
    font-family: 'Lora', serif;
    position: absolute;
    left: 580px;
    top: 530px;
    width: 150px;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    border: none;
}

.delButton:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
    color: white;
}

.addButton {
    position: absolute;
    left: 490px;
    top: 330px;
    font-family: 'Lora', serif;
    width: 218px;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    border: none;
}

.addButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
    color: white;
}

.student_table{
    position: absolute;
    left: 1000px;
    top: 220px;
    font-family: 'Lora', serif;
    text-align: center;
    border-collapse: collapse;
    table-layout: auto;
    width: 540px;
}

.page_num{
    color: red;
    z-index: 99;
}

a.num{
    color: red;
    z-index: 2;
    position: relative;
    left: 1230px;
    bottom: -850px;
    margin: 20px auto;
}

.num p:nth-child(1)
{
    position: absolute;
    left: 1145px;
    bottom: 700px;
    width: 250px;
}

.page_num_div
{
    position: absolute;
    left: 400px;
}

.std_div_class
{
    position: absolute;
    z-index: 3;
    left: 20%;
    font-size: 20px;
    bottom: 470px;
}

.add_us_Button
{
    font-family: 'Lora', serif;
    position: absolute;
    left: 400px;
    top: 430px;
    width: 400px;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    border: none;
}

.add_us_Button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
    color: white;
}